:root {
  --colors-scale1: 251 252 253;
  --colors-scale2: 248 249 250;
  --colors-scale3: 241 243 245;
  --colors-scale4: 236 238 240;
  --colors-scale5: 230 232 235;
  --colors-scale6: 223 227 230;
  --colors-scale7: 215 219 223;
  --colors-scale8: 193 200 205;
  --colors-scale9: 136 144 150;
  --colors-scale10: 126 134 140;
  --colors-scale11: 104 112 118;
  --colors-scale12: 17 24 28;
  --colors-danger: 240 60 80;
  --colors-primary: 79 79 184;
  --colors-primary-light: 98 98 216;
}

.dark {
  --colors-scale1: 22 22 22;
  --colors-scale2: 28 28 28;
  --colors-scale3: 35 35 35;
  --colors-scale4: 40 40 40;
  --colors-scale5: 46 46 46;
  --colors-scale6: 52 52 52;
  --colors-scale7: 62 62 62;
  --colors-scale8: 80 80 80;
  --colors-scale9: 112 112 112;
  --colors-scale10: 126 126 126;
  --colors-scale11: 187 187 187;
  --colors-scale12: 237 237 237;
  --colors-danger: 240 60 80;
  --colors-primary: 79 79 184;
  --colors-primary-light: 98 98 216;
}
