:root {
  --colors-slate1: 251 252 253;
  --colors-slate2: 248 249 250;
  --colors-slate3: 241 243 245;
  --colors-slate4: 236 238 240;
  --colors-slate5: 230 232 235;
  --colors-slate6: 223 227 230;
  --colors-slate7: 215 219 223;
  --colors-slate8: 193 200 205;
  --colors-slate9: 136 144 150;
  --colors-slate10: 126 134 140;
  --colors-slate11: 104 112 118;
  --colors-slate12: 17 24 28;
  --colors-scale1: var(--colors-slate1);
  --colors-scale2: var(--colors-slate2);
  --colors-scale3: var(--colors-slate3);
  --colors-scale4: var(--colors-slate4);
  --colors-scale5: var(--colors-slate5);
  --colors-scale6: var(--colors-slate6);
  --colors-scale7: var(--colors-slate7);
  --colors-scale8: var(--colors-slate8);
  --colors-scale9: var(--colors-slate9);
  --colors-scale10: var(--colors-slate10);
  --colors-scale11: var(--colors-slate11);
  --colors-scale12: var(--colors-slate12);
}

.dark {
  --colors-slate1: 22 22 22;
  --colors-slate2: 28 28 28;
  --colors-slate3: 35 35 35;
  --colors-slate4: 40 40 40;
  --colors-slate5: 46 46 46;
  --colors-slate6: 52 52 52;
  --colors-slate7: 62 62 62;
  --colors-slate8: 80 80 80;
  --colors-slate9: 112 112 112;
  --colors-slate10: 126 126 126;
  --colors-slate11: 187 187 187;
  --colors-slate12: 237 237 237;
  --colors-scale1: var(--colors-slate1);
  --colors-scale2: var(--colors-slate2);
  --colors-scale3: var(--colors-slate3);
  --colors-scale4: var(--colors-slate4);
  --colors-scale5: var(--colors-slate5);
  --colors-scale6: var(--colors-slate6);
  --colors-scale7: var(--colors-slate7);
  --colors-scale8: var(--colors-slate8);
  --colors-scale9: var(--colors-slate9);
  --colors-scale10: var(--colors-slate10);
  --colors-scale11: var(--colors-slate11);
  --colors-scale12: var(--colors-slate12);
}
